<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <encoder class="fm.common.ColorPatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${LOGBACK_LEVEL:-warn}">
    <appender-ref ref="STDERR" />
  </root>
</configuration>
