<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${LOGBACK_LEVEL:-warn}">
    <appender-ref ref="STDOUT" />
  </root>

<!--
  <logger name="fm.http.LinkedHttpContentReader" level="trace"/>
  <logger name="fm.http.client.DefaultHttpClient" level="trace"/>
  <logger name="fm.http.client.ChannelPool" level="trace"/>
  <logger name="fm.http.client.NettyHttpClientPipelineHandler" level="trace"/>
  <logger name="fm.http.server.NettyHttpServerPipelineHandler" level="trace"/>
-->
</configuration>